@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #1d546d;
  --color-sidebar: #061e29;
  --color-sideover: #1d546d;
  --color-accent: #5f9598;
  --color-bgsoft: #f3f4f4;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .bg-sidebar {
    background-color: var(--color-sidebar);
  }

  .bg-sideover {
    background-color: var(--color-sideover);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .text-accent {
    color: var(--color-accent);
  }

  .border-accent {
    border-color: var(--color-accent);
  }
}
